/* Global Styles */
hr {
  margin-bottom: 1.5em;
}

/* Materialize Styles */
main .row {
  margin-top: 2em;
}

.slider .slides li .caption {
  top: 25%;
  left: 25%;
}

/* Special Styles */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
.subtitle {
  font-size: 1.6em;
}
